/*TEXT SETTINGS FOR MARGIN AND SIZE*/
label,
input {
    font-size: 18px;
    /*margin-top: 10px;*/
}

.required {
    text-decoration: underline;
}

/*END TEXT SETTINGS*/

/*GENERAL TAGS CUSTOMIZATION*/
body{
    white-space: pre-line;
}

textarea {
    /*margin-top: 10px;*/
    height: 12rem;
    border-radius: 4px;
    resize: none;
}

button {
    border: none;
    color: white;
    padding: 1rem 32px;
    font-size: larger;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*END GENERAL TAGS*/
/* NAVBAR STYLES */

.navlink {
    font-size: 1.5rem;
}

.navlink:link {
    color: #ff0000;
    text-decoration: none;
}

.navlink:visited {
    color: #ff0000;
}

.navlink:hover {
    color: #ffbf00;
}
/*END NAVBAR STYLES*/

/* TABLE CLASSES */
table>tbody tr{
    height: 2rem;
}

table>tbody tr:nth-child(even){
    background-color: #dddddd;
}

table>tbody tr:nth-child(even)>.available{
    background-color: lightgreen;
}

table>tbody tr:nth-child(even)>.notAvailable{
    background-color: lightcoral;
}

table{
    border-collapse: collapse;
}
td,th{
    padding-right: 10px;
    text-align: left;
}

/*END TABLE CLASSES*

/*CLASSES*/
.twoColumn {
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto auto;
}

.form {
    grid-template-columns: 10rem auto;
}

.space {
    grid-column-start: span 2;
    height: 1rem;
}

.btnCreate {
    background-color: #0eca14;
    color: white;
    border: 3px solid #0eca14;
}

.btnCreate:hover {
    background-color: white;
    color: black;
}

.btnEdit {
    background-color: #0f55ed;
    color: white;
    border: 3px solid #0f55ed;
}

.btnEdit:hover {
    background-color: white;
    color: black;
}

/* Used for displaying available charts */
.available{
    background-color: lightgreen;
}

.notAvailable{
    background-color: lightcoral;
}

/*END CLASSES*/

/*CHECKBOXES CSS*/
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    left:0;
}

/* Create a custom checked symbol */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dddddd;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #bbbbbb;
}

/* When the checkbox is checked, add a green background */
.container input:checked~.checkmark {
    background-color: #00d739;
}

input[type=checkbox]:focus~.checkmark{
    outline: 2px solid cornflowerblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*END CHECKBOXES*/

