button{
    height: 5rem;
    font-size: xx-large;
}

a{
    font-size: x-large;
}

.twoColumn
{
    display: grid;
    row-gap: 0.1rem;
    grid-template-columns: auto auto;
}

.form{
    grid-template-columns: 10rem auto;
}

.space{
    grid-column-start: span 2;
    height: 1rem;
}
