.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    left:0;
}

/* Create a custom checked symbol */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dddddd;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #bbbbbb;
}

/* When the checkbox is checked, add a green background */
.container input:checked~.checkmark {
    background-color: #00d739;
}

input[type=checkbox]:focus~.checkmark{
    outline: 2px solid cornflowerblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
