label,
input {
    font-size: 18px;
}

textarea {
    height: 12rem;
    border-radius: 4px;
    resize: none;
}

button {
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: larger;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* CLASSES */

.twoColumn {
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto auto;
}

.form {
    grid-template-columns: 10rem auto;
}

.space {
    grid-column-start: span 2;
    height: 1rem;
}

.btnConfirm {
    background-color: #0eca14;
    color: white;
    border: 3px solid #0eca14;
}

.btnConfirm:hover {
    background-color: white;
    color: black;
}

.btnDelete {
    background-color: firebrick;
    color: white;
    border: 3px solid firebrick;
}

.btnDelete:hover {
    background-color: white;
    color: black;
}

.required {
    text-decoration: underline;
}