/* Top right cross to close */
#login button{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    width: 1.25rem;
    padding: 0px;
    color: black;
}

#login h1{
    margin-top: 0px;
}

#login input[type="submit"]{
    margin-top: 1rem;
    font-size: xx-large;
    width: 100%;
}