table{
    --available:darkgreen;
    --not-available:firebrick;
}

tr{
    height: 2rem;
}

tr:nth-child(even){
    background-color: #333;
}

tr:nth-child(even)>.available{
    background-color: var(--available);
}

tr:nth-child(even)>.notAvailable{
    background-color: var(--not-available);
}

table{
    border-collapse: collapse;
    text-align: center;
    white-space: pre-line;
}
td,th{
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px #f00;
    border-left: solid 1px #f00;
}

/* CLASSES */
.available{
    background-color: var(--available);
}

.notAvailable{
    background-color: var(--not-available);
}